*{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

.header a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    filter: contrast(12px);
    font-weight: bold;
}

.main a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    filter: contrast(12px);
    font-weight: bold;
}
.nav-bar2 a{
    font-size: 14px;
    font-weight: normal;
}

.header a:hover{
    color: green;
    text-decoration: none;
}
.main a:hover{|
    color: green;
    text-decoration: none;  
}
.foot a {
    font-size: 14px;
    color: #999999;
}

.foot{
    margin:  0px auto;
    height: auto;
    width: 100%;
    background-color: white;
}
.foot a:hover{
    color: black;
    text-decoration: none;  
}
.big-contain{
    background-color: #f0f0f0;
}

.menu1 {
    display: none;
}
.header{
    padding: 0 5% 0 5%;
    background-color: white;
     margin: auto;
     
}

.nav-bar1{

    margin: auto;
    display: flex;
    justify-content: space-between;
    height: auto;
    /* background-color: aquamarine; */
    align-items: center;
    width: 100%;
}
#cot{
    font-size: 20px;
    color: #807575f0;
    width: auto;
    margin: 30px 0 0 12px;
    
}
#cot a:hover{
    color: rgb(119, 230, 97);
}

#cot a{
    font-size: 18px;
    font-weight: unset;
}
#khoitao{
    font-weight: 1px;
    color: #e74c3c;
    font-size: 13px;
    margin-top: 15px;
    line-height: 20px;
    text-align: justify;
}
}
#cot > a:hover{
    color: green;
}
.main-box-left{
    display: flex;
    flex-direction: column;
    width: 65%;
    
}
.box{
    height: auto;
    display: flex;
    
    /* border: 1px solid blue; */
}
hr{
    margin: 0;
    border: 0.5px solid gray;
}

.hr:hover{
    filter: invert(9%);
}

.list1{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: red;
    background-color: red;
    
}

.list1 li {
    padding-left: 10px;
}
.list1 i{   
    margin-left: 10px;
    /* margin-right: 20px; */
}
.user li{
    margin: auto;
}
.user2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
}


.fas fa-bell{
    height: 100px;
    width: 100px;
}
.box img{
    width: 50px;
    height: 50px ;
    border-radius: 100%;
}

#bell{
    font-size: 25px;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    height: 68px;
    background-color: black;
    color: white;
}

.box ul{
    display: flex;
}

.nav-bar2{  
    width: 100%;
    margin: auto;
    height: auto;

    
}
.nav-bar2 ul{
    text-align: center;
    line-height: 60px;
    height: auto;
    display: flex;
    word-wrap: wrap;
}
.box li{
    padding-right: 20px;
    
}


.main{
    padding: 0 5% 0 5%;
    display: flex;
    width: 100%;
    margin: auto;
  
}

.main-left{
    display: flex;
    flex-wrap: wrap;   
    width: 100%;
    padding-bottom: 40px;
    
}

.block{
    width: 45%;
    height: auto;
    margin: 25px 25px 0 0px;
    
    background-color: #ffffff;
    
    
}

#tit{
    color: green;
    margin: 10px auto 20px 10px;
}

#in-block{
    margin: 5px auto 5px 10px;
}
.block button {
    background-color: rgb(202, 28, 28);
    width: 120px;
    font-weight: bold;
    height: 40px;
    border: none;
    font-size: revert;
    border-radius: 4px;
    color:white;
}

.but{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.block img{
    width: 100%;
    height: auto;
    
}
.block i{
    font-size: 90%;
    color: #FFB239;
}

.block:hover > img{
    filter: brightness(70%);  
}
.block:hover{
    box-shadow: 0 8px 6px -10px black;
}
.main-right{
   width: 35%;
   height: auto;
   margin: 20px auto;

}

.infor{
    display: flex;
}

#inf-but{
    background-color: rgb(50, 168, 50);
    color: white;
    height: auto;
    width: 150px;
    border: none;
    border-radius: 4px;
    padding: 5px 2px 5px 2px;
}
#avt{
    text-align: center;
    padding: 10px 20px 10px 5px;
}

#detail{
    padding: 10px 20px 10px 5px;
}
#detail div{
    margin: 0px auto 10px auto;
}
#avt img{
    border-radius: 100%;   
}

#str{
    margin: 20px 0 20px 0;
}
.content{
    height: auto;
    width: auto;
    background-color: white;
    padding: 0 5% 30px 5%;
    margin: 20px auto;
}
.container{
    padding: 20px;
    background-color: white;
}
.row button{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.container p{
    margin-left: 20px;
    
}
.container h4{
    margin-left: 40px;
}

#bo{
    
    width: 80px;
    height: 80px;
    background-color: grey;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 700;
}
#num{
    font-size: 25px;
}
#times{
    font-size: 14px;
}




@media only screen and (max-width: 800px){
    .nav-bar1{
        display: flex;
        justify-content: space-between;

    }
    .header{
        padding: 0 5% 0 5%;
    }

    
    .nav-bar2 ul{
        display: none;        
        
    }
   i {
       font-weight: 1px;
        font-size: 30px;
    }
    
    .main{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 5% 0 5%;
    }
    
    
    .main-box-left{
        width: 100%;
    }
    .list2{
        display: none;
    }
    
    .nav-bar2{
        display: flex;
        justify-content: flex-end;
    }
    .main-right{
        width: 100%;
    }
    .main-left{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .block{
        width: 100%;
    }

    .menu{
        display: block;
    }
    .box{
        display: none;
    }
    
    .flex{
        display: flex;
        flex-direction: column;
    }
    .flex ul img{
        width: 100%;

    }

    .foot{
        padding: 30px 5% 0 5%;
    }
}



.footer-up{
    color: #999999;
    display: flex;
    justify-content: space-between;
    /* padding: 30px 5% 0 5%; */
    
}

.footer-top-left ul{
    margin-right: 30px;
}
.footer-top-left{
    width: 65%;
    display: flex;
    padding: 20px 5% 0 5%;
    background-color: #F7F7F7;
}
.connect li{
    margin:5px auto;
}
.list2 li{
    padding-right: 20px;
}

.list2 li:hover{
    color: green;
    border-bottom: 1px solid black;
}
.list li{
    margin:5px auto;
}
.connect i{
    color: #999999;
}

.flex{
    
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.app{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}




.flex img{
    margin-right: 10px;
}
.footer-top-right{
    width: 45%;
    padding: 20px 5%  5%;;
    background-color: white;
    height: auto;
}
.footer-down{
    width: auto;
    background-color: #F0F0F0;
}
.down-up{
    width: 100%;
    margin: auto;
    padding: 30px 5% 20px 5%;
}
.down-up ul{
    
    width: auto;
    display: flex;
    list-style: none;
    flex-wrap: wrap;        
}
.down-up li{
    margin: 5px;
}
.down-down {
    padding: 30px 5% 0 5%;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}

.down-down div{
    width: 40%;
}

